.GroupSidebarItem {
    align-items: center;
    padding-left: 1.5em;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-right: 1.5em;
    width: 120px;
    border-bottom: 1px solid white;
    
    /* Selected item hover color
    background-color: rgba(255, 255, 255, 0.32); */
}

.GroupSidebarItem:hover {
    /* background-color: rgba(184,178,175, .32);*/
    background-color: rgba(255, 255, 255, 0.32);
    color: #5c9b78;
}